/*Globals Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

#main-container{
    min-height: calc(100vh - 56px);
}

body {
    background-color: #f5f5f5;
}

li {
    text-decoration: none;
    list-style: none;
}


/*Flash Messages*/
.msg-container {
    margin: 10px auto;
    width: 60%;
    padding: 12px;
    text-align: center;
    border: 1px solid #383333 ;
}

.msg-error {
    color: #ca0606;
    background-color: #e9bbbb;
}
.msg-sucess {
    color: #620180;
    background-color: #72ec97;
}


/*Login and Register Page*/

#auth-row{
    justify-content: space-evenly;
}

.title-form-auth{
    text-align: center;
}

.line-divisor{
    width: 80%;
    margin: 0 auto;
    border: 2px solid rgb(2, 92, 226);
}

.card-btn{
    border: 1px solid transparent;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fdfdff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #152ae2;
}

.card-btn:hover{
    background-color:#fff;
    color: black;
    border: 1px solid #152ae2;
}






/*Footer*/
#footer {
    text-align: center;
    color: #f5f5f5;
}

.social-container ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    margin: 0 auto;
}

.footer .social-container a {
    font-size: 36px;
    color: rgb(54, 66, 235);
}

/*EditProfile.php*/

#profile-image-container,
.profile-image-container {
  width: 150px;
  height: 150px;
  border: 6px solid #F5C518;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 15px auto;
}

.profile-image-container {
  width: 70px;
  height: 70px;
}

.page-description {
  color: #999;
}

#bio {
  width: 100%;
}

.bio-description{
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
}

.form-control.disabled {
  background-color: #BBB;
}

#change-password-container {
  margin-top: 30px;
}

.edit-profile-page .card-btn,
#add-movie-container .card-btn,
#review-form .card-btn,
#edit-movie-form .card-btn {
  width: auto;
}

.disable{
    color: #999;
}